/* img {
  page-break-before: auto;
  page-break-after: always;
  page-break-inside: avoid;
  display: block;
} */

.page {
  /* page-break-before: always; */
  page-break-after: always;
  page-break-inside: avoid;
  display: block;
}

img {
  height: 150px !important;
  width: 150px !important;
}

@media print {
  /* table {
    page-break-after: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  td {
    page-break-inside: initial;
    display: block;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  } */
}
