@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=condensed");

.page {
  /* page-break-before: always; */
  page-break-after: always;
  page-break-inside: avoid;
  display: block;
}

img {
  height: 135px !important;
  width: 155px !important;
}

.part-number {
  font-family: "Open Sans";
}
